$low-dark-blue: #6B7A99;
$text-blue:  #7D8FB3;
$text-light-blue: #ADB8CC;
$high-dark-blue: #202B40;
$mid-light-blue: #3361FF;
$mid-dark-blue:  #4D5E80;
$purple: #8833FF;
$salad-green: #29CC39;
$orange: #FF6633;
$yellow: #FFCB33;
